<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Health Dataset</title>
    <!-- CSS  -->
    <script type="text/javascript" src="static/lib/d3/d3.min.js"></script>
    <!--using version 3 of d3js-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="static/css/style.css"> causes issues -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Need internal css to override all others-->
</head>
<style>

    body { font: 12px Arial;}
    
    path { 
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    /* line hover */
    .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
  
.line--fade {
  opacity: 0.5;  
}
  
.line--hover {
  stroke-width: 3px;
  opacity: 1.0;
}
    </style>
<body>
    <!-- start -->
    <div class ="container mt-4">
    <div class="card-group">
        <div class="col mb-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title"> Weekly Calorie/Water Tracking</h5>
              <div class="row" id="myfitnesspal_chart">
                <!-- append SVGs here -->
                
            </div>
            </div>
          </div>
          <br/>
        </div>
        
        <div class="col mb-6">
          <div class="card" >
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <div class="row" id="current_chart">
                    
                    <!-- append SVGs here -->
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-12">
          <div class="card" >
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">Body</p>
              </div>
          </div>
        </div>
        
      </div>
      </div>

      

    <!-- end -->
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/init.js"></script>
    <script src="static/js/myfitnesstrack.js"></script>
     <!--
    <script src="static/js/helper_task2.js"></script>
     -->
</body>

</html>