<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Nutrient Database Explorer</title>
    <link rel="stylesheet" type="text/css" href="static/css/parallel.css" />
</head>

<body>
    <div id="main-div">
        <div class="">
            <input name="updateButton" class="btn btn-primary" type="button" value="Task 2" onclick="getParacoords()" />

            <select id="lstNutrition" multiple="multiple">
                <option value="1" selected>protein (g)</option>
                <option value="2" selected>calcium (g)</option>
                <option value="3" selected>sodium (g)</option>
                <option value="4" selected>fiber (g)</option>
                <option value="5" selected>vitaminc (g)</option>
                <option value="6" selected>potassium (g)</option>
                <option value="7" selected>carbohydrate (g)</option>
                <option value="8" selected>sugars (g)</option>
                <option value="9" selected>fat (g)</option>
                <option value="10" selected>water (g)</option>
                <option value="11" selected>calories</option>
                <option value="12" selected>saturated (g)</option>
                <option value="13" selected>monounsat (g)</option>
                <option value="14" selected>polyunsat (g)</option>

            </select>
        </div>

        <div class="">
            <div id="chart" class="col-md-8">
                <canvas id="background"></canvas>
                <canvas id="foreground"></canvas>
                <canvas id="highlight"></canvas>
                <svg id="paracoords"></svg>
            </div>
            <div id="wrap" class="col-md-4">
                <div class="searchfood">
                    <h4>Search Food <input type="text" id="search"></input>
                    </h4>
                    <p id="food-list">
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"
    type="text/css" />
<script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#lstNutrition').multiselect({
            includeSelectAllOption: true
        });
    });
</script>
<script src="static/js/d3.min.js"></script>
<!-- <script src="https://mbostock.github.com/d3/d3.v2.js"></script> -->
<script src="http://underscorejs.org/underscore.js"></script>
<script src="static/js/parallel.js"></script>

</html>